<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pilot.boot.dao.PilotBodyDao">

    <!--is_deleted 中0表示删除 1表示未删除-->

    <!--base result-->
    <resultMap id="baseResultMap" type="com.pilot.boot.entity.PilotBody">
        <id column="pilot_id" jdbcType="BIGINT" property="pilotId"/>
        <id column="is_deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="height" jdbcType="REAL" property="height"/>
        <result column="weight" jdbcType="REAL" property="weight"/>
        <result column="collar_circumference" jdbcType="REAL" property="collarCircumference"/>
        <result column="neck_root_circumference" jdbcType="REAL" property="neckRootCircumference"/>
        <result column="bust" jdbcType="REAL" property="bust"/>
        <result column="chest_position" jdbcType="REAL" property="chestPosition"/>
        <result column="under_bust" jdbcType="REAL" property="underBust"/>
        <result column="waist_circumference" jdbcType="REAL" property="waistCircumference"/>
        <result column="waist_height" jdbcType="REAL" property="waistHeight"/>
        <result column="pant_waist_circumference" jdbcType="REAL" property="pantWaistCircumference"/>
        <result column="pant_waist_height" jdbcType="REAL" property="pantWaistHeight"/>
        <result column="hip_circumference" jdbcType="REAL" property="hipCircumference"/>
        <result column="hip_height" jdbcType="REAL" property="hipHeight"/>
        <result column="straight_crotch" jdbcType="REAL" property="straightCrotch"/>
        <result column="perineal_height" jdbcType="REAL" property="perinealHeight"/>
        <result column="left_arm_length" jdbcType="REAL" property="leftArmLength"/>
        <result column="right_arm_length" jdbcType="REAL" property="rightArmLength"/>
        <result column="left_leg_length" jdbcType="REAL" property="leftLegLength"/>
        <result column="right_leg_length" jdbcType="REAL" property="rightLegLength"/>
        <result column="front_shoulder_width" jdbcType="REAL" property="frontShoulderWidth"/>
        <result column="back_shoulder_width" jdbcType="REAL" property="backShoulderWidth"/>
        <result column="left_chest_height" jdbcType="REAL" property="leftChestHeight"/>
        <result column="right_chest_height" jdbcType="REAL" property="rightChestHeight"/>
        <result column="chest_width" jdbcType="REAL" property="chestWidth"/>
        <result column="back_width" jdbcType="REAL" property="backWidth"/>
        <result column="belly_circumference" jdbcType="REAL" property="bellyCircumference"/>
        <result column="belly_circumference_height" jdbcType="REAL" property="bellyCircumferenceHeight"/>
        <result column="anterior_lumbar_section" jdbcType="REAL" property="anteriorLumbarSection"/>
        <result column="front_length" jdbcType="REAL" property="frontLength"/>
        <result column="back_length" jdbcType="REAL" property="backLength"/>
        <result column="short_back_middle_length" jdbcType="REAL" property="shortBackMiddleLength"/>
        <result column="long_back_middle_length" jdbcType="REAL" property="longBackMiddleLength"/>
        <result column="left_arm_root_circumference" jdbcType="REAL" property="leftArmRootCircumference"/>
        <result column="right_arm_root_circumference" jdbcType="REAL" property="rightArmRootCircumference"/>
        <result column="left_arm_circumference" jdbcType="REAL" property="leftArmCircumference"/>
        <result column="right_arm_circumference" jdbcType="REAL" property="rightArmCircumference"/>
        <result column="left_elbow" jdbcType="REAL" property="leftElbow"/>
        <result column="right_elbow" jdbcType="REAL" property="rightElbow"/>
        <result column="left_middle_arm_circumference" jdbcType="REAL" property="leftMiddleArmCircumference"/>
        <result column="right_middle_arm_circumference" jdbcType="REAL" property="rightMiddleArmCircumference"/>
        <result column="left_wrist_circumference" jdbcType="REAL" property="leftWristCircumference"/>
        <result column="right_wrist_circumference" jdbcType="REAL" property="rightWristCircumference"/>
        <result column="left_shoulder_sleeve_length" jdbcType="REAL" property="leftShoulderSleeveLength"/>
        <result column="right_shoulder_sleeve_length" jdbcType="REAL" property="rightShoulderSleeveLength"/>
        <result column="left_rise" jdbcType="REAL" property="leftRise"/>
        <result column="right_rise" jdbcType="REAL" property="rightRise"/>
        <result column="left_thigh_circumference" jdbcType="REAL" property="leftThighCircumference"/>
        <result column="right_thigh_circumference" jdbcType="REAL" property="rightThighCircumference"/>
        <result column="left_knee_circumference" jdbcType="REAL" property="leftKneeCircumference"/>
        <result column="right_knee_circumference" jdbcType="REAL" property="rightKneeCircumference"/>
        <result column="left_calf_circumference" jdbcType="REAL" property="leftCalfCircumference"/>
        <result column="right_calf_circumference" jdbcType="REAL" property="rightCalfCircumference"/>
        <result column="left_ankle_circumference" jdbcType="REAL" property="leftAnkleCircumference"/>
        <result column="right_ankle_circumference" jdbcType="REAL" property="rightAnkleCircumference"/>
        <result column="left_pant_length" jdbcType="REAL" property="leftPantLength"/>
        <result column="right_pant_length" jdbcType="REAL" property="rightPantLength"/>
        <result column="field1" jdbcType="REAL" property="field1"/>
        <result column="field2" jdbcType="REAL" property="field2"/>
        <result column="field3" jdbcType="REAL" property="field3"/>
        <result column="field4" jdbcType="REAL" property="field4"/>
        <result column="field5" jdbcType="REAL" property="field5"/>
        <result column="field6" jdbcType="REAL" property="field6"/>
        <result column="field7" jdbcType="REAL" property="field7"/>
        <result column="field8" jdbcType="REAL" property="field8"/>
        <result column="field9" jdbcType="REAL" property="field9"/>
        <result column="field10" jdbcType="REAL" property="field10"/>
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>
    <!--association result-->
    <resultMap id="PilotBodyWithPilot" type="com.pilot.boot.entity.PilotBody">
        <id column="pilot_id" jdbcType="BIGINT" property="pilotId"/>
        <id column="is_deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="height" jdbcType="REAL" property="height"/>
        <result column="weight" jdbcType="REAL" property="weight"/>
        <result column="collar_circumference" jdbcType="REAL" property="collarCircumference"/>
        <result column="neck_root_circumference" jdbcType="REAL" property="neckRootCircumference"/>
        <result column="bust" jdbcType="REAL" property="bust"/>
        <result column="chest_position" jdbcType="REAL" property="chestPosition"/>
        <result column="under_bust" jdbcType="REAL" property="underBust"/>
        <result column="waist_circumference" jdbcType="REAL" property="waistCircumference"/>
        <result column="waist_height" jdbcType="REAL" property="waistHeight"/>
        <result column="pant_waist_circumference" jdbcType="REAL" property="pantWaistCircumference"/>
        <result column="pant_waist_height" jdbcType="REAL" property="pantWaistHeight"/>
        <result column="hip_circumference" jdbcType="REAL" property="hipCircumference"/>
        <result column="hip_height" jdbcType="REAL" property="hipHeight"/>
        <result column="straight_crotch" jdbcType="REAL" property="straightCrotch"/>
        <result column="perineal_height" jdbcType="REAL" property="perinealHeight"/>
        <result column="left_arm_length" jdbcType="REAL" property="leftArmLength"/>
        <result column="right_arm_length" jdbcType="REAL" property="rightArmLength"/>
        <result column="left_leg_length" jdbcType="REAL" property="leftLegLength"/>
        <result column="right_leg_length" jdbcType="REAL" property="rightLegLength"/>
        <result column="front_shoulder_width" jdbcType="REAL" property="frontShoulderWidth"/>
        <result column="back_shoulder_width" jdbcType="REAL" property="backShoulderWidth"/>
        <result column="left_chest_height" jdbcType="REAL" property="leftChestHeight"/>
        <result column="right_chest_height" jdbcType="REAL" property="rightChestHeight"/>
        <result column="chest_width" jdbcType="REAL" property="chestWidth"/>
        <result column="back_width" jdbcType="REAL" property="backWidth"/>
        <result column="belly_circumference" jdbcType="REAL" property="bellyCircumference"/>
        <result column="belly_circumference_height" jdbcType="REAL" property="bellyCircumferenceHeight"/>
        <result column="anterior_lumbar_section" jdbcType="REAL" property="anteriorLumbarSection"/>
        <result column="front_length" jdbcType="REAL" property="frontLength"/>
        <result column="back_length" jdbcType="REAL" property="backLength"/>
        <result column="short_back_middle_length" jdbcType="REAL" property="shortBackMiddleLength"/>
        <result column="long_back_middle_length" jdbcType="REAL" property="longBackMiddleLength"/>
        <result column="left_arm_root_circumference" jdbcType="REAL" property="leftArmRootCircumference"/>
        <result column="right_arm_root_circumference" jdbcType="REAL" property="rightArmRootCircumference"/>
        <result column="left_arm_circumference" jdbcType="REAL" property="leftArmCircumference"/>
        <result column="right_arm_circumference" jdbcType="REAL" property="rightArmCircumference"/>
        <result column="left_elbow" jdbcType="REAL" property="leftElbow"/>
        <result column="right_elbow" jdbcType="REAL" property="rightElbow"/>
        <result column="left_middle_arm_circumference" jdbcType="REAL" property="leftMiddleArmCircumference"/>
        <result column="right_middle_arm_circumference" jdbcType="REAL" property="rightMiddleArmCircumference"/>
        <result column="left_wrist_circumference" jdbcType="REAL" property="leftWristCircumference"/>
        <result column="right_wrist_circumference" jdbcType="REAL" property="rightWristCircumference"/>
        <result column="left_shoulder_sleeve_length" jdbcType="REAL" property="leftShoulderSleeveLength"/>
        <result column="right_shoulder_sleeve_length" jdbcType="REAL" property="rightShoulderSleeveLength"/>
        <result column="left_rise" jdbcType="REAL" property="leftRise"/>
        <result column="right_rise" jdbcType="REAL" property="rightRise"/>
        <result column="left_thigh_circumference" jdbcType="REAL" property="leftThighCircumference"/>
        <result column="right_thigh_circumference" jdbcType="REAL" property="rightThighCircumference"/>
        <result column="left_knee_circumference" jdbcType="REAL" property="leftKneeCircumference"/>
        <result column="right_knee_circumference" jdbcType="REAL" property="rightKneeCircumference"/>
        <result column="left_calf_circumference" jdbcType="REAL" property="leftCalfCircumference"/>
        <result column="right_calf_circumference" jdbcType="REAL" property="rightCalfCircumference"/>
        <result column="left_ankle_circumference" jdbcType="REAL" property="leftAnkleCircumference"/>
        <result column="right_ankle_circumference" jdbcType="REAL" property="rightAnkleCircumference"/>
        <result column="left_pant_length" jdbcType="REAL" property="leftPantLength"/>
        <result column="right_pant_length" jdbcType="REAL" property="rightPantLength"/>
        <result column="field1" jdbcType="REAL" property="field1"/>
        <result column="field2" jdbcType="REAL" property="field2"/>
        <result column="field3" jdbcType="REAL" property="field3"/>
        <result column="field4" jdbcType="REAL" property="field4"/>
        <result column="field5" jdbcType="REAL" property="field5"/>
        <result column="field6" jdbcType="REAL" property="field6"/>
        <result column="field7" jdbcType="REAL" property="field7"/>
        <result column="field8" jdbcType="REAL" property="field8"/>
        <result column="field9" jdbcType="REAL" property="field9"/>
        <result column="field10" jdbcType="REAL" property="field10"/>
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
        <association property="pilot" javaType="com.pilot.boot.entity.Pilot">
            <result column="pilot_id" property="pilotId" jdbcType="BIGINT"/>
            <result column="pilot_name" property="pilotName" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--base param-->
    <sql id="basePilotBodyParam">
        pilot_id,height, weight, collar_circumference, neck_root_circumference,
        bust, chest_position, under_bust, waist_circumference, waist_height, pant_waist_circumference,
        pant_waist_height, hip_circumference, hip_height, straight_crotch, perineal_height,
        left_arm_length, right_arm_length, left_leg_length, right_leg_length, front_shoulder_width,
        back_shoulder_width, left_chest_height, right_chest_height, chest_width, back_width,
        belly_circumference, belly_circumference_height, anterior_lumbar_section, front_length,
        back_length, short_back_middle_length, long_back_middle_length, left_arm_root_circumference,
        right_arm_root_circumference, left_arm_circumference, right_arm_circumference, left_elbow,
        right_elbow, left_middle_arm_circumference, right_middle_arm_circumference, left_wrist_circumference,
        right_wrist_circumference, left_shoulder_sleeve_length, right_shoulder_sleeve_length,
        left_rise, right_rise, left_thigh_circumference, right_thigh_circumference, left_knee_circumference,
        right_knee_circumference, left_calf_circumference, right_calf_circumference, left_ankle_circumference,
        right_ankle_circumference, left_pant_length, right_pant_length, field1, field2, field3,
        field4, field5, field6, field7, field8, field9, field10,remark
    </sql>

    <!--association param-->
    <sql id="PilotBodyParamWithPilot">
        pb.pilot_id, pb.is_deleted, pb.height, pb.weight, pb.collar_circumference, pb.neck_root_circumference,
        pb.bust, pb.chest_position, pb.under_bust, pb.waist_circumference, pb.waist_height, pb.pant_waist_circumference,
        pb.pant_waist_height, pb.hip_circumference, pb.hip_height, pb.straight_crotch, pb.perineal_height,
        pb.left_arm_length, pb.right_arm_length, pb.left_leg_length, pb.right_leg_length, pb.front_shoulder_width,
        pb.back_shoulder_width, pb.left_chest_height, pb.right_chest_height, pb.chest_width, pb.back_width,
        pb.belly_circumference, pb.belly_circumference_height, pb.anterior_lumbar_section, pb.front_length,
        pb.back_length, pb.short_back_middle_length, pb.long_back_middle_length, pb.left_arm_root_circumference,
        pb.right_arm_root_circumference, pb.left_arm_circumference, pb.right_arm_circumference, pb.left_elbow,
        pb.right_elbow, pb.left_middle_arm_circumference, pb.right_middle_arm_circumference, pb.left_wrist_circumference,
        pb.right_wrist_circumference, pb.left_shoulder_sleeve_length, pb.right_shoulder_sleeve_length,
        pb.left_rise, right_rise, pb.left_thigh_circumference, pb.right_thigh_circumference, pb.left_knee_circumference,
        pb.right_knee_circumference, pb.left_calf_circumference, pb.right_calf_circumference, pb.left_ankle_circumference,
        pb.right_ankle_circumference, pb.left_pant_length, pb.right_pant_length, pb.field1, pb.field2, pb.field3,
        pb.field4, pb.field5, pb.field6, pb.field7, pb.field8, pb.field9, pb.field10, pb.remark,
        p.pilot_id,p.pilot_name
    </sql>

    <insert id="insertPilotBody">
        insert into pilot_body
        (
            <include refid="basePilotBodyParam"/>
        )
        values
        (
            #{pilotId,jdbcType=BIGINT},
            #{height,jdbcType=REAL},
            #{weight,jdbcType=REAL},
            #{collarCircumference,jdbcType=REAL},
            #{neckRootCircumference,jdbcType=REAL},
            #{bust,jdbcType=REAL},
            #{chestPosition,jdbcType=REAL},
            #{underBust,jdbcType=REAL},
            #{waistCircumference,jdbcType=REAL},
            #{waistHeight,jdbcType=REAL},
            #{pantWaistCircumference,jdbcType=REAL},
            #{pantWaistHeight,jdbcType=REAL},
            #{hipCircumference,jdbcType=REAL},
            #{hipHeight,jdbcType=REAL},
            #{straightCrotch,jdbcType=REAL},
            #{perinealHeight,jdbcType=REAL},
            #{leftArmLength,jdbcType=REAL},
            #{rightArmLength,jdbcType=REAL},
            #{leftLegLength,jdbcType=REAL},
            #{rightLegLength,jdbcType=REAL},
            #{frontShoulderWidth,jdbcType=REAL},
            #{backShoulderWidth,jdbcType=REAL},
            #{leftChestHeight,jdbcType=REAL},
            #{rightChestHeight,jdbcType=REAL},
            #{chestWidth,jdbcType=REAL},
            #{backWidth,jdbcType=REAL},
            #{bellyCircumference,jdbcType=REAL},
            #{bellyCircumferenceHeight,jdbcType=REAL},
            #{anteriorLumbarSection,jdbcType=REAL},
            #{frontLength,jdbcType=REAL},
            #{backLength,jdbcType=REAL},
            #{shortBackMiddleLength,jdbcType=REAL},
            #{longBackMiddleLength,jdbcType=REAL},
            #{leftArmRootCircumference,jdbcType=REAL},
            #{rightArmRootCircumference,jdbcType=REAL},
            #{leftArmCircumference,jdbcType=REAL},
            #{rightArmCircumference,jdbcType=REAL},
            #{leftElbow,jdbcType=REAL},
            #{rightElbow,jdbcType=REAL},
            #{leftMiddleArmCircumference,jdbcType=REAL},
            #{rightMiddleArmCircumference,jdbcType=REAL},
            #{leftWristCircumference,jdbcType=REAL},
            #{rightWristCircumference,jdbcType=REAL},
            #{leftShoulderSleeveLength,jdbcType=REAL},
            #{rightShoulderSleeveLength,jdbcType=REAL},
            #{leftRise,jdbcType=REAL},
            #{rightRise,jdbcType=REAL},
            #{leftThighCircumference,jdbcType=REAL},
            #{rightThighCircumference,jdbcType=REAL},
            #{leftKneeCircumference,jdbcType=REAL},
            #{rightKneeCircumference,jdbcType=REAL},
            #{leftCalfCircumference,jdbcType=REAL},
            #{rightCalfCircumference,jdbcType=REAL},
            #{leftAnkleCircumference,jdbcType=REAL},
            #{rightAnkleCircumference,jdbcType=REAL},
            #{leftPantLength,jdbcType=REAL},
            #{rightPantLength,jdbcType=REAL},
            #{field1,jdbcType=REAL},
            #{field2,jdbcType=REAL},
            #{field3,jdbcType=REAL},
            #{field4,jdbcType=REAL},
            #{field5,jdbcType=REAL},
            #{field6,jdbcType=REAL},
            #{field7,jdbcType=REAL},
            #{field8,jdbcType=REAL},
            #{field9,jdbcType=REAL},
            #{field10,jdbcType=REAL},
            #{remark,jdbcType=LONGVARCHAR}
        )
    </insert>

    <insert id="batchInsertPilotBody" parameterType="list">
        insert into pilot_body
        (
          <include refid="basePilotBodyParam"/>
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.pilotId,jdbcType=BIGINT},
            #{item.height,jdbcType=REAL},
            #{item.weight,jdbcType=REAL},
            #{item.collarCircumference,jdbcType=REAL},
            #{item.neckRootCircumference,jdbcType=REAL},
            #{item.bust,jdbcType=REAL},
            #{item.chestPosition,jdbcType=REAL},
            #{item.underBust,jdbcType=REAL},
            #{item.waistCircumference,jdbcType=REAL},
            #{item.waistHeight,jdbcType=REAL},
            #{item.pantWaistCircumference,jdbcType=REAL},
            #{item.pantWaistHeight,jdbcType=REAL},
            #{item.hipCircumference,jdbcType=REAL},
            #{item.hipHeight,jdbcType=REAL},
            #{item.straightCrotch,jdbcType=REAL},
            #{item.perinealHeight,jdbcType=REAL},
            #{item.leftArmLength,jdbcType=REAL},
            #{item.rightArmLength,jdbcType=REAL},
            #{item.leftLegLength,jdbcType=REAL},
            #{item.rightLegLength,jdbcType=REAL},
            #{item.frontShoulderWidth,jdbcType=REAL},
            #{item.backShoulderWidth,jdbcType=REAL},
            #{item.leftChestHeight,jdbcType=REAL},
            #{item.rightChestHeight,jdbcType=REAL},
            #{item.chestWidth,jdbcType=REAL},
            #{item.backWidth,jdbcType=REAL},
            #{item.bellyCircumference,jdbcType=REAL},
            #{item.bellyCircumferenceHeight,jdbcType=REAL},
            #{item.anteriorLumbarSection,jdbcType=REAL},
            #{item.frontLength,jdbcType=REAL},
            #{item.backLength,jdbcType=REAL},
            #{item.shortBackMiddleLength,jdbcType=REAL},
            #{item.longBackMiddleLength,jdbcType=REAL},
            #{item.leftArmRootCircumference,jdbcType=REAL},
            #{item.rightArmRootCircumference,jdbcType=REAL},
            #{item.leftArmCircumference,jdbcType=REAL},
            #{item.rightArmCircumference,jdbcType=REAL},
            #{item.leftElbow,jdbcType=REAL},
            #{item.rightElbow,jdbcType=REAL},
            #{item.leftMiddleArmCircumference,jdbcType=REAL},
            #{item.rightMiddleArmCircumference,jdbcType=REAL},
            #{item.leftWristCircumference,jdbcType=REAL},
            #{item.rightWristCircumference,jdbcType=REAL},
            #{item.leftShoulderSleeveLength,jdbcType=REAL},
            #{item.rightShoulderSleeveLength,jdbcType=REAL},
            #{item.leftRise,jdbcType=REAL},
            #{item.rightRise,jdbcType=REAL},
            #{item.leftThighCircumference,jdbcType=REAL},
            #{item.rightThighCircumference,jdbcType=REAL},
            #{item.leftKneeCircumference,jdbcType=REAL},
            #{item.rightKneeCircumference,jdbcType=REAL},
            #{item.leftCalfCircumference,jdbcType=REAL},
            #{item.rightCalfCircumference,jdbcType=REAL},
            #{item.leftAnkleCircumference,jdbcType=REAL},
            #{item.rightAnkleCircumference,jdbcType=REAL},
            #{item.leftPantLength,jdbcType=REAL},
            #{item.rightPantLength,jdbcType=REAL},
            #{item.field1,jdbcType=REAL},
            #{item.field2,jdbcType=REAL},
            #{item.field3,jdbcType=REAL},
            #{item.field4,jdbcType=REAL},
            #{item.field5,jdbcType=REAL},
            #{item.field6,jdbcType=REAL},
            #{item.field7,jdbcType=REAL},
            #{item.field8,jdbcType=REAL},
            #{item.field9,jdbcType=REAL},
            #{item.field10,jdbcType=REAL},
            #{item.remark,jdbcType=LONGVARCHAR}
            )
        </foreach>
    </insert>

    <select id="findPilotBodyByPilotId" resultMap="baseResultMap">
        select
        <include refid="basePilotBodyParam"/>
        from pilot_body
        where pilot_id = #{pilotId,jdbcType=BIGINT} and is_deleted = 0
    </select>

    <select id="checkPilotBodyExist" resultType="int">
        select count(*) from pilot_body where pilot_id = #{pilotId,jdbcType=INTEGER} and is_deleted = 0
    </select>

    <!--
        key : {value1,value2}
    -->
    <select id="selectPilotBodyWithCondition" resultType="com.pilot.boot.entity.PilotBody">
        select *
        from pilot_body
        <trim prefix="where" suffixOverrides="and">
            <foreach collection="listCondition" index="key" item="values">
                ${key} &gt;=
                <foreach collection="values" index="index" item="down" separator=",">
                    <if test="index == 0">
                        #{down} and
                    </if>
                </foreach>
                ${key} &lt;=
                <foreach collection="values" index="index" item="up" separator=",">
                    <if test="index == 1">
                        #{up} and
                    </if>
                </foreach>
            </foreach>
        </trim>
        and is_deleted = 0
    </select>

    <!--select with page-->
    <select id="selectPilotBodyWithPage" resultMap="PilotBodyWithPilot">
        select
        <include refid="PilotBodyParamWithPilot"/>
        from pilot_body pb left join pilot p on pb.pilot_id = p.pilot_id
        where is_deleted = #{deleted,jdbcType=INTEGER}
    </select>

    <!--default update no logic pilotBody -->
    <update id="updatePilotBodyByPilotId">
        update pilot_body
        <set>
            <if test="height != null">
                height = #{height,jdbcType=REAL},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=REAL},
            </if>
            <if test="collarCircumference != null">
                collar_circumference = #{collarCircumference,jdbcType=REAL},
            </if>
            <if test="neckRootCircumference != null">
                neck_root_circumference = #{neckRootCircumference,jdbcType=REAL},
            </if>
            <if test="bust != null">
                bust = #{bust,jdbcType=REAL},
            </if>
            <if test="chestPosition != null">
                chest_position = #{chestPosition,jdbcType=REAL},
            </if>
            <if test="underBust != null">
                under_bust = #{underBust,jdbcType=REAL},
            </if>
            <if test="waistCircumference != null">
                waist_circumference = #{waistCircumference,jdbcType=REAL},
            </if>
            <if test="waistHeight != null">
                waist_height = #{waistHeight,jdbcType=REAL},
            </if>
            <if test="pantWaistCircumference != null">
                pant_waist_circumference = #{pantWaistCircumference,jdbcType=REAL},
            </if>
            <if test="pantWaistHeight != null">
                pant_waist_height = #{pantWaistHeight,jdbcType=REAL},
            </if>
            <if test="hipCircumference != null">
                hip_circumference = #{hipCircumference,jdbcType=REAL},
            </if>
            <if test="hipHeight != null">
                hip_height = #{hipHeight,jdbcType=REAL},
            </if>
            <if test="straightCrotch != null">
                straight_crotch = #{straightCrotch,jdbcType=REAL},
            </if>
            <if test="perinealHeight != null">
                perineal_height = #{perinealHeight,jdbcType=REAL},
            </if>
            <if test="leftArmLength != null">
                left_arm_length = #{leftArmLength,jdbcType=REAL},
            </if>
            <if test="rightArmLength != null">
                right_arm_length = #{rightArmLength,jdbcType=REAL},
            </if>
            <if test="leftLegLength != null">
                left_leg_length = #{leftLegLength,jdbcType=REAL},
            </if>
            <if test="rightLegLength != null">
                right_leg_length = #{rightLegLength,jdbcType=REAL},
            </if>
            <if test="frontShoulderWidth != null">
                front_shoulder_width = #{frontShoulderWidth,jdbcType=REAL},
            </if>
            <if test="backShoulderWidth != null">
                back_shoulder_width = #{backShoulderWidth,jdbcType=REAL},
            </if>
            <if test="leftChestHeight != null">
                left_chest_height = #{leftChestHeight,jdbcType=REAL},
            </if>
            <if test="rightChestHeight != null">
                right_chest_height = #{rightChestHeight,jdbcType=REAL},
            </if>
            <if test="chestWidth != null">
                chest_width = #{chestWidth,jdbcType=REAL},
            </if>
            <if test="backWidth != null">
                back_width = #{backWidth,jdbcType=REAL},
            </if>
            <if test="bellyCircumference != null">
                belly_circumference = #{bellyCircumference,jdbcType=REAL},
            </if>
            <if test="bellyCircumferenceHeight != null">
                belly_circumference_height = #{bellyCircumferenceHeight,jdbcType=REAL},
            </if>
            <if test="anteriorLumbarSection != null">
                anterior_lumbar_section = #{anteriorLumbarSection,jdbcType=REAL},
            </if>
            <if test="frontLength != null">
                front_length = #{frontLength,jdbcType=REAL},
            </if>
            <if test="backLength != null">
                back_length = #{backLength,jdbcType=REAL},
            </if>
            <if test="shortBackMiddleLength != null">
                short_back_middle_length = #{shortBackMiddleLength,jdbcType=REAL},
            </if>
            <if test="longBackMiddleLength != null">
                long_back_middle_length = #{longBackMiddleLength,jdbcType=REAL},
            </if>
            <if test="leftArmRootCircumference != null">
                left_arm_root_circumference = #{leftArmRootCircumference,jdbcType=REAL},
            </if>
            <if test="rightArmRootCircumference != null">
                right_arm_root_circumference = #{rightArmRootCircumference,jdbcType=REAL},
            </if>
            <if test="leftArmCircumference != null">
                left_arm_circumference = #{leftArmCircumference,jdbcType=REAL},
            </if>
            <if test="rightArmCircumference != null">
                right_arm_circumference = #{rightArmCircumference,jdbcType=REAL},
            </if>
            <if test="leftElbow != null">
                left_elbow = #{leftElbow,jdbcType=REAL},
            </if>
            <if test="rightElbow != null">
                right_elbow = #{rightElbow,jdbcType=REAL},
            </if>
            <if test="leftMiddleArmCircumference != null">
                left_middle_arm_circumference = #{leftMiddleArmCircumference,jdbcType=REAL},
            </if>
            <if test="rightMiddleArmCircumference != null">
                right_middle_arm_circumference = #{rightMiddleArmCircumference,jdbcType=REAL},
            </if>
            <if test="leftWristCircumference != null">
                left_wrist_circumference = #{leftWristCircumference,jdbcType=REAL},
            </if>
            <if test="rightWristCircumference != null">
                right_wrist_circumference = #{rightWristCircumference,jdbcType=REAL},
            </if>
            <if test="leftShoulderSleeveLength != null">
                left_shoulder_sleeve_length = #{leftShoulderSleeveLength,jdbcType=REAL},
            </if>
            <if test="rightShoulderSleeveLength != null">
                right_shoulder_sleeve_length = #{rightShoulderSleeveLength,jdbcType=REAL},
            </if>
            <if test="leftRise != null">
                left_rise = #{leftRise,jdbcType=REAL},
            </if>
            <if test="rightRise != null">
                right_rise = #{rightRise,jdbcType=REAL},
            </if>
            <if test="leftThighCircumference != null">
                left_thigh_circumference = #{leftThighCircumference,jdbcType=REAL},
            </if>
            <if test="rightThighCircumference != null">
                right_thigh_circumference = #{rightThighCircumference,jdbcType=REAL},
            </if>
            <if test="leftKneeCircumference != null">
                left_knee_circumference = #{leftKneeCircumference,jdbcType=REAL},
            </if>
            <if test="rightKneeCircumference != null">
                right_knee_circumference = #{rightKneeCircumference,jdbcType=REAL},
            </if>
            <if test="leftCalfCircumference != null">
                left_calf_circumference = #{leftCalfCircumference,jdbcType=REAL},
            </if>
            <if test="rightCalfCircumference != null">
                right_calf_circumference = #{rightCalfCircumference,jdbcType=REAL},
            </if>
            <if test="leftAnkleCircumference != null">
                left_ankle_circumference = #{leftAnkleCircumference,jdbcType=REAL},
            </if>
            <if test="rightAnkleCircumference != null">
                right_ankle_circumference = #{rightAnkleCircumference,jdbcType=REAL},
            </if>
            <if test="leftPantLength != null">
                left_pant_length = #{leftPantLength,jdbcType=REAL},
            </if>
            <if test="rightPantLength != null">
                right_pant_length = #{rightPantLength,jdbcType=REAL},
            </if>
            <if test="field1 != null">
                field1 = #{field1,jdbcType=REAL},
            </if>
            <if test="field2 != null">
                field2 = #{field2,jdbcType=REAL},
            </if>
            <if test="field3 != null">
                field3 = #{field3,jdbcType=REAL},
            </if>
            <if test="field4 != null">
                field4 = #{field4,jdbcType=REAL},
            </if>
            <if test="field5 != null">
                field5 = #{field5,jdbcType=REAL},
            </if>
            <if test="field6 != null">
                field6 = #{field6,jdbcType=REAL},
            </if>
            <if test="field7 != null">
                field7 = #{field7,jdbcType=REAL},
            </if>
            <if test="field8 != null">
                field8 = #{field8,jdbcType=REAL},
            </if>
            <if test="field9 != null">
                field9 = #{field9,jdbcType=REAL},
            </if>
            <if test="field10 != null">
                field10 = #{field10,jdbcType=REAL},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where pilot_id = #{pilotId,jdbcType=BIGINT}
        and is_deleted = 0
    </update>

    <!--recovery pilotBody-->
    <update id="updateDeletePilotBody">
        update pilot_body set  is_deleted = 0 where pilot_id = #{pilotId,jdbcType=BIGINT}
    </update>

    <!--logic delete a pilotBody-->
    <update id="updatePilotBodyWithLogicDelete">
        update pilot_body set is_deleted = 1 where pilot_id = #{pilotId,jdbcType=BIGINT}
    </update>

    <!--logic batch delete pilotBody-->
    <update id="updateBatchPilotBodyWithLogicDelete">
        update pilot_body set is_deleted = 1
        where pilot_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <!--physical delete a pilotBody-->
    <delete id="deletePilotBodyByPilotId">
        delete from pilot_body where pilot_id = #{pilotId,jdbcType=BIGINT} and is_deleted = 1
    </delete>

    <!--physical batch delete pilotBody-->
    <delete id="deleteBatchPilotBodyByPilotId">
        delete from pilot_body
        where pilot_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        and is_deleted = 1
    </delete>

</mapper>