<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pilot.boot.dao.UserDao">

    <select id="findUserByName" resultType="com.pilot.boot.entity.User">
      select * from user where name = #{name,jdbcType=CHAR}
    </select>

    <update id="updatePasswordByUserId">
        update user set password = #{password,jdbcType=VARCHAR} where user_id = #{userId}
    </update>
</mapper>